body {
    background-color: black;
}
.header {
    margin-bottom: 9%;
    padding: 0;
    @media (max-width: 900px) {
        margin-bottom: 12%;
    }
    @media (max-width: 720px) {
        margin-bottom: 120px;
    }
}
.header_title {
    font-size: 40px;
    text-align: center;
    color: #fff;
}
.canvas {
    position: relative;
    max-width: 50%;
    height: 65vh;
    margin: 0px auto 30px auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    background-color: red;
    box-shadow: 0px 0px 60px 5px rgba(255, 0, 0, 0.2);
    @media (max-width: 1400px) {
        height: auto;
    }
    @media (max-width: 1000px) {
        max-width: 80%;
    }
}
.component {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: calc((100% / 4));
    height: calc((100% / 4));
    min-height: 50px;
    border-radius: 5%;
    border: 2px solid red;
    color: white;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5);
    @include adaptiv-value("font-size", 45, 30, 1920, 1000);
    @include adaptiv-value("font-size", 30, 20, 1000, 320);
    // font-size: 100%;
    z-index: 3;
    cursor: grab;
    position: relative;
}
.size3 {
    width: calc(100% / 3);
    height: calc((100% / 3));
}
.size5 {
    width: calc(100% / 5);
    height: calc((100% / 5));
    @include adaptiv-value("font-size", 40, 30, 1920, 1000);
    @include adaptiv-value("font-size", 30, 20, 1000, 320);
}
.size6 {
    width: calc(100% / 6);
    max-height: calc((100% / 6));
    @include adaptiv-value("font-size", 40, 30, 1920, 1000);
    @include adaptiv-value("font-size", 30, 10, 1000, 320);
}
.size7 {
    width: calc(100% / 7);
    height: calc((100% / 7));
    @include adaptiv-value("font-size", 30, 20, 1920, 1000);
    @include adaptiv-value("font-size", 20, 10, 1000, 320);
}

.size8 {
    width: calc(100% / 8);
    height: calc((100% / 8));
    @include adaptiv-value("font-size", 30, 20, 1920, 1000);
    @include adaptiv-value("font-size", 20, 10, 1000, 320);
}
.emptiness {
    position: relative;
    z-index: -1;
    background-color: rgb(255, 0, 0);
    transition: background-color 1s;
}

.button-row-size {
    .container {
        display: flex;
        gap: 20px;
        justify-content: center;
    }
}

#god-mode {
    &.active {
        background-color: rgb(0, 0, 0);
        color: red;
    }
}
#stop {
    display: none;
}
.moves {
    color: #fff;
}
.time {
    color: #fff;
}

[data-tooltip] {
    position: relative; /* Относительное позиционирование */
}
[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 445%; /* Ширина подсказки */
    left: -100%;
    // white-space: nowrap;
    top: 0; /* Положение подсказки */
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
}
[data-tooltip]:hover::after {
    z-index: 5;
    opacity: 1; /* Показываем подсказку */
    top: 110%; /* Положение подсказки */
}
@keyframes MovingRight {
    0% {
        right: 25%;
    }
    100% {
        right: 0%;
    }
}
@keyframes MovingLeft {
    0% {
        right: -25%;
    }
    100% {
        right: 0%;
    }
}
@keyframes MovingTop {
    0% {
        top: 25%;
    }
    100% {
        top: 0%;
    }
}
@keyframes MovingBottom {
    0% {
        top: -25%;
    }
    100% {
        top: 0%;
    }
}

.moving-animation-right {
    animation: MovingRight 0.4s;
}
.moving-animation-left {
    animation: MovingLeft 0.4s;
}
.moving-animation-top {
    animation: MovingTop 0.4s;
}
.moving-animation-bottom {
    animation: MovingBottom 0.4s;
}
